@charset "utf-8";
/* =====================================

	* sub 
	
====================================== */
.sub .header-wrap,
.sub .footer-wrap{
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
}

.sub-visual{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url('../image/sub/bg_subvisual.png');
    background-size: cover;
}
.sub-visual-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sub-visual-tit{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}
.sub-visual-con p{
    margin-top: 15px;
    font-size: 1.7rem;
    line-height: 1.2;
    color: #fff;
}
.breadcrumb{
    display: inline-block;
    width: auto;
    margin-top: 25px;
    padding: 0 20px;
    padding-right: 25px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 14px;
}
.breadcrumb .btn-home{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    margin-left: -20px;
    border-radius: 50px;
    background: linear-gradient(180deg, #4094b9, #3582d0);
    vertical-align: middle;
}
.breadcrumb .btn-home:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/sub/ic_home.png');
}
.breadcrumb ul{
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    vertical-align: top;
}
.breadcrumb ul > li + li{
    padding-left: 15px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url('../image/sub/ic_breadcrumb_arrow.png');
}

.sub-contents{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.sub-conbox{
    font-size: 1.6rem;
    line-height: 1.6;
}
.sub-tit-wrap{
    margin-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #616163;
}
.sub-tit-wrap.n-bd{
    margin-bottom: 0;
    border-bottom: 0;
}
.sub-tit-wrap:nth-of-type(1){
    margin-top: 0;
}
.sub-tit-wrap:after{
    display: block;
    content: '';
    clear: both;
}
.sub-tit{
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    vertical-align: middle;
}
.sub-tit-wrap .btn-more{
    position: relative;
    float: right;
    width: auto;
    height: auto;
    margin: 8px 0;
    padding-right: 25px;
    background: none;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.sub-tit-wrap .btn-more:after{
    display: block;
    content: '+';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 16px;
    font-weight: 300;
    color: #8b8b8b;
}

/* 준비중 */
.ready-wrap{
    text-align: center;
    letter-spacing: -0.04em;
}
.ready-wrap p{
    margin-top: 25px;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.2 ;
    color: #292e3f;
}
.ready-wrap p > strong{
    font-weight: 600;
}

/* Login */
.login-wrap{
    overflow: hidden;
    display: flex;
    height: 480px;
    border: 1px solid #cccccc;
    border-radius: 0 0 40px 0;
    letter-spacing: -0.04em;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
}
.login-form form{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}
.login-tit-wrap{
    margin-bottom: 30px;
    text-align: center;
}
.login-tit-wrap .icon{
    display: block;
    margin-bottom: 15px;
}
.login-tit{
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 1;
    color: #1e72c7;
}
.login-form .form-item{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 1.6rem;
}
.login-form .form-item + .form-item{
    margin-top: 10px;
}
.login-form .btn-wrap{
    margin-top: 20px;
}
.login-form .btn-wrap p{
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn.btn-login{
    width: 100%;
    padding: 15px 10px;
    background-color: #1e72c7;
    border-color: #1e72c7;
    color: #fff;
}
.login-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 100%;
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/sub/bg_login_info.png');
    background-size: cover;
    text-align: center;
}
.login-info p{
    margin-top: 30px;
    font-size: 2px;
    font-size: 1.7rem;
    letter-spacing: -0.075em;
    line-height: 2.2;
    color: #fff;
}
.login-info .btn-wrap{
    margin-top: 70px;
}
.login-wrap .btn{
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}
.btn.btn-signup{
    padding: 12px 45px;
    background-color: #71b03b;;
    border-color: #71b03b;
    color: #fff;
}
.btn.btn-signup .arrow{
    display: inline-block;
    margin-left: 40px;
}

/* 통합검색 */
.sch-form-wrap{
    margin-bottom: 40px;
}
.sch-wrap{
    padding: 30px 6%;
    background-color: #f6f8fc;
    text-align: center;
}
.sch-wrap .sch-key{
    height: 40px;
    width: 1020px;
    max-width: 70%;
    padding: 0 20px;
    border-color: #dcdcdc;
    background-color: #fff;
    border-radius: 2px;
}
.sch-wrap .btn-sch{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/icon/ic_sch.png');
    background-color: #144393;
    border-radius: 2px;
}
.btn.btn-reset{
    height: 40px;
    padding: 10px 30px;
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid #144393;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #144393;
    text-align: center;
}
.sub .edu-board-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.sub .edu-board-con{
    overflow: hidden;
    width: calc((100% - 75px)/4);
    padding: 25px;
    margin: 0;
    border: 1px solid #d8e2e5;
    border-radius: 0 0 30px 0;
    transition: 0.3s ease;
}
.sub .edu-board-con > a{
    position: relative;
    padding: 0;
    box-shadow: none;
}
.edu-board-con .btn-wrap{
    margin-top: 20px;
}
/* .sub .edu-board-con > a:before,
.sub .edu-board-con > a:after{
    opacity: 0;
    display: block;
    content: '';
    clear: both;
    position: absolute;
    transition: 0.3s ease;
}
.sub .edu-board-con > a:before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46,55,61,0.7);
}
.sub .edu-board-con > a:after{
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '상세 확인 및 신청';
    width: auto;
    padding: 15px 20px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-image: url('../image/icon/ic_btn_arrow.png');
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.5rem;
    color: #34434e;
    line-height: 1;
    white-space: nowrap;
}
.sub .edu-board-con:hover:not(.no-data){
    box-shadow: 0 15px 13px rgba(92,99,104,0.15);
}
.sub .edu-board-con:hover > a:before,
.sub .edu-board-con:hover > a:after{
    opacity: 1;
} */

.sub .edu-board-list .date{
    margin-top: 20px;
}
.sub .edu-board-list .date strong{
    font-weight: 500;
}
.cate.etc{
    color: #4b535f;
    box-shadow: inset 0 -12px rgba(204,208,217,0.15);
}
.no-data{
    width: 100%;
    padding: 30px 0;
    font-size: 3rem;
    font-weight: 300;
    color: #737b84;
    letter-spacing: -0.04em;
    text-align: center;
}
.no-data p{
    margin-top: 10px;
}
.edu-board-con.no-data{
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0;
    border: 0;
    border-radius: 0;
}

/* 수강/열람신청 */
.checkbox-wrap.type2{
    gap: 10px 20px;
}
.type2 .checkbox-group{
    padding: 9px 18px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 1.7rem;
    line-height: 1;
    transition: 0.3s ease;
}
.type2 .checkbox-group input[type="checkbox"]{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    margin: 0;
}
.type2 .checkbox-group:has(input[type="checkbox"]:checked){
    background-color: #1661ae;
    color: #fff;
}
.form-con .sch-wrap{
    padding: 0;
    background: none;
    text-align: left;
}
.form-con .sch-key{
    width: 70%;
    padding-right: 50px;
    border-color: #d8e2e5;
    max-width: 860px;
}
.form-con .btn-sch{
    margin-left: -45px;
    background-color: transparent;
    background-image: url('../image/icon/ic_sch_blue.png');
}
.form-con .btn-reset{
    padding: 10px 50px;
    background-color: #869198;
    border-color: #869198;
    border-radius: 3px;
    color: #fff;
}
.btn-reset img{
    margin-top: -4px;
    margin-right: 10px;
    vertical-align: middle;
}
.sch-result-list{
    margin-top: 50px;
}

.btn.btn-reset-big {
	height: 45px;
    padding: 10px 50px;
    margin-left: 5px;
    background-color: #869198;
    border: 1px solid #869198;
    border-radius: 2px;
    font-size: 1.6rem;
    color: #ffffff;
}
.btn-reset-big img{
    margin-top: -4px;
    margin-right: 10px;
    vertical-align: middle;
}

/* list::paging */
.paging-wrap{
    margin-top: 70px;
    text-align: center;
}
.paging{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.paging > li{
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 3px;
    border: 1px solid transparent;
    vertical-align: top;
    transition: 0.3s ease;
}
.paging > .num:hover,
.paging > .num.on,
.paging > .num:hover > a,
.paging > .num.on > a{
    background-color: #f6f6f6;
    font-weight: 700;
    color: #1e72c7;
}
.paging > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    font-size: 14px;
    transition: 0.3s ease;
}
.paging > li:not(.num){
    background-repeat: no-repeat;
    background-position: center;
    border-color: #cccccc;
    background-color: #fff;
    background-size: auto 10px;
    transition: 0.3s ease;
}
.paging > li:not(.num):hover{
    background-color: #fff;
}
.paging > li:hover > a{
    color: #1e72c7;
}
.paging .first{
    background-image: url('../image/icon/ic_first.png');
}
.paging .prev{
    margin-right: 15px;
    background-image: url('../image/icon/ic_prev.png');
}
.paging .next{
    margin-left: 15px;
    background-image: url('../image/icon/ic_next.png');
}
.paging .last{    
    background-image: url('../image/icon/ic_last.png');
}

.edu-conbox > .btn-wrap{
    margin-top: 0;
}
.edu-conbox > .btn-wrap .btn-type1{
    padding: 13px 25px;
    font-size: 2rem;
}
.edu-conbox > .btn-wrap .btn-type1 img{
    margin-top: -3px;
    margin-right: 25px;
    vertical-align: middle;
}
.edu-view-wrap{
    display: flex;
    margin-top: 20px;
    border: 1px solid #d8e2e5;
    border-radius: 10px;
}
.edu-view-conbox{
    width: 50%;
    padding: 50px 45px;
}
.edu-view-conbox .btn-small{
    padding: 10px 24px;
    font-size: 1.6rem;
}
.edu-view-conbox:has(.cate) form .btn-small{
    margin: -30px 0;
}
.edu-view-conbox + .edu-view-conbox{
    border-left: 1px solid #d8e2e5;
}
.edu-view-conbox .cate{
    display: inline-block;
    padding: 3px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #df8300;
    line-height: 1;
    box-shadow: inset 0 -12px rgba(223,131,0,0.1);
}
.edu-view-conbox .cate + .btn{
    margin: -7px 0;;
}
.edu-view-conbox .cate.etc{
    color: #4b535f;
    box-shadow: inset 0 -12px rgba(204,208,217,0.15);
}
.edu-view-conbox .tit{
    margin: 30px 0 10px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}
.edu-view-conbox .tit + .btn-wrap{
    margin-top: 0;
    margin-bottom: 30px;
}
.edu-view-conbox .tit + .btn-wrap .btn{
    padding: 6px 15px;
    font-size: 13px;
}
.dl-contents dl{
    display: flex;
    gap: 15px;
}
.dl-contents dl + dl{
    margin-top: 5px;
}
.dl-contents dt,
.dl-contents dd{
    font-size: 1.7rem;
    color: #818181;
    line-height: 1.3;
}
.dl-contents dt{
    flex: 0 0 auto;
    width: 60px;
    font-weight: 500;
    color: #444444;
}
.dl-contenst dd{
    width: 100%;
}
.edu-info{
    margin-top: 35px;
}
.edu-tit{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: 0 3px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
}
.edu-tit:nth-of-type(1){
    margin-top: 0;
}
.edu-tit.type1{
    background-image: url('../image/sub/ic_edu_tit01.png');
}
.edu-tit.type2{
    background-position: 0 1px;
    background-image: url('../image/sub/ic_edu_tit02.png');
}
.edu-tit.type3{
    background-image: url('../image/sub/ic_edu_tit03.png');
}
.edu-info-list{
    display: flex;
    gap: 15px;
}
.edu-info-list > li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 90px;
    background-color: #f4fbff;
    border-radius: 5px;
    font-size: 1.6rem;
    color: #162c39;
    line-height: 1.3;
    letter-spacing: -0.04em;
    text-align: center;
}
.help-text{
    font-size: 13px;
    color: #7f96a3;
}
.edu-list{
    border-top: 2px solid #1661ae;
}
.edu-list > li{
    border-bottom: 1px solid #d8e2e5;
}
.edu-list > li > a{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 0;
    font-size: 1.7rem;
    color: #818181;
    line-height: 1.3;
}
.edu-list .name{
    flex: 0 0 auto;
}
.edu-list .subject{
    color: #000;
}
.edu-view-conbox .editors-contents{
    color: #636363;
    font-size: 1.6rem;
    line-height: 1.3;
}

/* 학술자료실 */
.filter{
    margin-bottom: 20px;
}
.filter > a{
    font-size: 1.5rem;
    color: #869198;
    letter-spacing: -0.03em;
}
.filter > a.on{
    color: #111111;
    font-weight: 500;
}
.filter > a + a{
    position: relative;
    padding-left: 12px;
    margin-left: 10px;
}
.filter > a + a:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #869198;
}
.filter p > strong{
    color: #1661ae;
    font-weight: 600;
}
.ev-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}
.ev-list > li{
    display: flex;
    gap: 15px;
    align-items: start;
    width: calc((100% - 40px)/3);
    padding: 25px 20px;
    border: 1px solid #d8e2e5;
    border-radius: 0 0 30px 0;
}
.ev-list .img-wrap{
    overflow: hidden;
    flex: 0 0 auto;
    width: 170px;
    aspect-ratio: 17 / 24;
}
.ev-list .img-wrap > a{
    display: block;
    width: 100%;
    height: 100%;
}
.ev-list .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ev-list .text-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
.ev-list .tit{
    height: 72px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
}
.ev-list .date{
    padding-left: 22px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../image/sub/ic_time.png');
    font-size: 1.6rem;
    font-weight: 500;
    color: #459aaf;
    letter-spacing: -0.05em;
    line-height: 1.2;
}
.ev-list .btn-wrap{
    margin-top: auto;
}
.ev-list .btn-wrap .btn,
.edu-board-con .btn-wrap .btn{
    float: left;
    width: calc((100% - 10px)/2);
    max-width: 100px;
    padding: 8px 4px;
    margin: 0;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
}
.ev-list .btn-wrap .btn + .btn,
.edu-board-con .btn-wrap .btn + .btn{
    margin-left: 10px;
}
.btn.btn-like{
    position: relative;
    color: #656565;
    border-color: #656565;
}
.btn.btn-like:after{
    display: inline-block;
    padding-left: 3px;
    content: '설정';
}
.btn.btn-like.on{
    background-color: #c83857;
    border-color: #c83857;
    color: #fff;
}
.btn.btn-like.on:after{
    content: '해제';
}

/* board list */
.board-list{
    border-top: 2px solid #1e72c7;
}
.board-list > li{
    display: table;
    width: 100%;
    border-bottom: 1px solid #d8e2e5;
    table-layout: fixed;
    letter-spacing: -0.03em;
}
.board-list > li > div{
    display: table-cell;
    padding: 15px 20px;
    font-size: 1.7rem;
    line-height: 1.3;
    vertical-align: middle;
    text-align: center;
    word-break: break-word;
}
.board-list > li:not(.list-head) > div + div{
    border-left: 1px solid #d8e2e5;
}
.board-list .list-head > div{
    background-color: #eef4fa;
    font-size: 1.8rem;
    font-weight: 600;
    color: #123c66;
    text-align: center;
}
.board-list .list-head > div + div{
    position: relative;
}
.board-list .list-head > div + div:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 20px;
    background-color: #c1d2e3;
}
.bbs-tit{
    font-weight: 500;
    color: #111;
}
.bbs-info{
    font-weight: 500;
}
.bbs-info p{
    font-weight: 400;
}
.bbs-info .cate{
    color: #66a830;
}
.bbs-info-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bbs-info-wrap > a{
    width: 100%;
}
.bbs-info .file{
    flex: 0 0 auto;
    max-width: 200px;
    text-align: center;
}
.bbs-info .file > a{
    display: inline-block;
    margin: 5px 10px;
    vertical-align: middle;
}
.bbs-col-xs{
    width: 8%;
}
.bbs-col-xs2{
    width: 12%;
}
.bbs-col-s{
    width: 18%;
}
.bbs-col-s2{
    width: 22%;
}
.bbs-col-m{
    width: 35%;
}

/* board view */
.ev-view-con{
    overflow: hidden;
    display: flex;
    gap: 45px;
    padding: 35px 40px 0;
    margin-bottom: 30px;
    background-color: #f6f8fc;
}
.ev-view-con .img-wrap{
    flex: 0 0 auto;
    width: 190px;
    margin-bottom: -10px;
    background-color: #fff;
    box-shadow: 17px -12px 18.9px 2.1px rgba(198, 210, 222, 0.3);
    aspect-ratio: 38 / 53;
}
.ev-view-con .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ev-view-con .text-wrap{
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 60px;
    letter-spacing: -0.03em;
    color: #373737;
}
.ev-view-con .cate{
    font-size: 1.8rem;
}
.ev-view-con .tit{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}
.ev-view-con .date{
    margin-top: 25px;
    font-size: 1.8rem;
    line-height: 1.3;
}
.ev-view-con .btn-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 8px 15px;
    margin: 0 !important;
    font-size: 13px;
    line-height: 1.2;
}
.ev-view-con .btn-small2{
    top: 0;
    right: 0;
    z-index: 1;
    padding: 8px 15px;
    margin: 0 !important;
    font-size: 13px;
    line-height: 1.2;
}

.ev-view-con .btn-wrap {
margin-top:10px;
}


/* tab menu */
.sub-tab-wrap.type1{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid #1e72c7;
}
.type1 .sub-tab-menu{
    display: flex;
}
.type1 .sub-tab-menu > li{
    display: block;
    flex: 1;
    max-width: 230px;
    height: 50px;
    border: 2px solid #d4dde7;
    border-bottom: 0;
    text-align: center;
    transition: 0.3s ease;
}
.type1 .sub-tab-menu > li + li{
    margin-left: -2px;
}
.type1 .sub-tab-menu > li:first-child{    
    border-left: 2px solid #d4dde7;
}
.type1 .sub-tab-menu > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 35px;
    font-size: 1.8rem;
    letter-spacing: -0.045em;
    color: #d4dde7;
    line-height: 1.2;
    transition: 0.3s ease;
}
.type1 .sub-tab-menu > li.on,
.type1 .sub-tab-menu > li:hover{
    position: relative;
    border-color: #1e72c7;
}
.type1 .sub-tab-menu > li.on:before,
.type1 .sub-tab-menu > li:hover:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.type1 .sub-tab-menu > li.on > a,
.type1 .sub-tab-menu > li:hover > a{
    color: #1e72c7;
    font-weight: 600;
}

.sub-tab-wrap.type2{
    overflow-x: auto;
    width: 100%;
    background-color: #f4f8ff;
    margin-bottom: 60px;
    text-align: center;
}
.type2 .sub-tab-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.type2 .sub-tab-menu > li{
    height: 70px;
    text-align: center;
}
.type2 .sub-tab-menu > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 20px;
    font-size: 1.7rem;
    color: #b2b9c4;
    letter-spacing: -0.045em;
    line-height: 1.2;
    transition: 0.3s ease;
}
.type2 .sub-tab-menu > li > a:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #1e72c7;
    transition: 0.3s ease;
}
.type2 .sub-tab-menu > li.on > a,
.type2 .sub-tab-menu > li:hover > a{
    color: #1e72c7;
    font-weight: 600;
}
.type2 .sub-tab-menu > li.on > a:before,
.type2 .sub-tab-menu > li:hover > a:before{
    width: 100%;
}

.sub-tab-wrap.type3{
    margin-bottom: 35px;
    border-bottom: 2px solid #e2e5ea;
}
.type3 .sub-tab-menu{
    display: flex;
}
.type3 .sub-tab-menu > li{
    display: block;
    flex: 1;
    text-align: center;
}
.type3 .sub-tab-menu > li > a{
    font-size: 2.4rem;
    line-height: 1.2;
    letter-spacing: -0.045em;
}
.type3 .sub-tab-menu > li > a{
    display: block;
    transition: 0.3s ease;
}
.type3 .sub-tab-menu > li > a > span{
    display: inline-block;
    position: relative;
    padding: 0 10px 40px;
}
.type3 .sub-tab-menu > li > a > span:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translatex(-50%);
    width: 0;
    height: 2px;
    background-color: #2199a4;
    transition: 0.3s ease;
}
.type3 .sub-tab-menu > li.on > a,
.type3 .sub-tab-menu > li:hover > a{
    color: #2199a4;
    font-weight: 600;
}
.type3 .sub-tab-menu > li.on > a > span:before,
.type3 .sub-tab-menu > li:hover > a > span:before{
    width: 100%;
}

.session-con > .tit{
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.045em;
    color: #174b80;
}
.session-tit{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #5b6f94;
    font-size: 1.7rem;
    line-height: 1.3;
    color: #fff;
}
.session-tit > strong{
    font-weight: 600;
}
.session-tit p{
    flex: 0 0 auto;
    width: auto;
}
.session-tit + .table-wrap{
    border-top: 0;
}
.session-con .cst-table th,
.session-con .cst-table td{
    padding: 10px 20px;
    border-left: 0;
    border-right: 0;
    vertical-align: middle;
}
.session-con .cst-table thead th{
    background-color: #ebeff4;
    font-weight: 400;
    line-height: 1.2;
    color: #1c2a43;
}
.session-con .cst-table tbody .tit{
    font-weight: 500;
    color: #111;
}

/* 마이페이지::온라인 강의실 */
.lecture-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.lecture-list > li{
    width: calc((100% - 30px)/2);
    padding: 0 30px 40px;
    border: 1px solid #d8e2e5;
    border-radius: 0 0 30px 0;
}
.lecture-info{
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fafcfd;
}
.lecture-info .tit{
    font-size: 2.2rem;
    font-weight: 500;
    color: #094079;
    letter-spacing: -0.045em;
    line-height: 1.3;
    word-break: keep-all;
}
.lecture-info .date{
    padding-left: 25px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-image: url('../image/sub/ic_date.png');
    font-size: 1.7rem;
    line-height: 1.3;
    color: #a3a3a3;
}
.lecture-info .date strong{
    color: #444444;
    font-weight: 500;
}
.lecture-list .form-tit,
.lecture-list .form-con{
    padding: 12px 10px;
    font-size: 1.6rem;
    line-height: 1.3;
}
.lecture-list .form-tit{
    width: 25%;
}
.lecture-list .form-con{
    width: 75%;
}
.lecture-list .state{
    display: inline-block;
    vertical-align: middle;
}
.lecture-list .state + .state{
    margin-left: 10px;
}
.state.before{
    color: #8d8d8d;
}
.state.complete{
    color: #1e72c7;
}
.state.none{
    color: #000;
}
.lecture-list .btn-wrap{
    margin-top: 30px;
}
.lecture-list .btn-type1{
    padding: 14px 34px;
    font-weight: 500;
}
.lecture-list .btn-type1 img{
    margin-top: -3px;
    margin-right: 10px;
    vertical-align: middle;
}
.lecture-view-contop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lecture-tit .tit{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}
.lecture-tit .date{
    margin-top: 10px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-image: url('../image/sub/ic_date.png');
    font-size: 1.7rem;
    color: #a3a3a3;
    line-height: 1.3;
}
.lecture-tit .date strong{
    font-weight: 500;
    color: #444444;
}
.lecture-view-contop .file{
    flex: 0 0 auto;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
}
.lecture-view-contop .btn-file{
    margin-left: 10px;
}
.btn.btn-file{
    display: inline-block;
    padding: 7px 26px;
    background-color: #eef4fa;
    border: 1px solid #87acd5;
    border-radius: 2px;
    font-weight: 500;
    color: #3f4d76;
    vertical-align: middle;
}
.btn.btn-file img{
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
}
.lecture-view-con .edu-info{
    margin-top: 0;
}
.lecture-view-con .edu-view-conbox{
    padding-top: 35px;
    padding-bottom: 35px;
}
.lecture-view-con .edu-view-conbox + .edu-view-conbox{
    position: relative;
    border-left: 0;
}
.lecture-view-con .edu-view-conbox + .edu-view-conbox:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: calc(100% - 60px);
    background-color: #d8e2e5;
}

.lecture-view-con .btn-wrap:has(.btn-lecture){
    margin-top: 80px;
    margin-bottom: 40px;
}
.btn.btn-lecture{
    display: inline-block;
    padding: 10px 30px;
    margin: 0 4px;
    background-color: #fff;
    border: 1px solid transparent;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}
.btn-lecture.btn-quiz{
    border-color: #1ea5c7;
    color: #1ea5c7;
}
.btn-lecture.btn-survey{
    border-color: #564bc0;
    color: #564bc0;
}
.btn-quiz.on{
    background-color: #1ea5c7;
    color: #fff;
}
.btn-survey.on{
    background-color: #564bc0;
    color: #fff;
}
.table-contop{
    margin-bottom: 15px;
    line-height: 1.2;
    word-break: keep-all;
}
.board-list.lecture > li:not(.list-head) .bbs-tit{
    font-weight: 400;
}
.board-list.lecture .bbs-tit strong{
    font-weight: 500;
}
.board-list.lecture .btn-small{
    padding: 5px 10px; 
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
}
.btn.btn-re{
    background-color: #eef4fa;
    border-color: #3f4d76;
    color: #3f4d76;
}
.btn.btn-view{
    background-color: #1e72c7;
    border-color: #1e72c7;
    color: #fff;
}

#container:has(.edu-view){
    background-color: #e7eff8;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
    background-image: url('../image/sub/bg_view_wrap01.png'), url('../image/sub/bg_view_wrap02.png');
}
#container:has(.edu-view) .sub-contents{
    padding-top: 60px;
}
.edu-view-tit{
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}
.edu-view-tit > strong{
    color: #344691;
    font-weight: 700;
}
.edu-view-tit + .btn-wrap{
    margin-top: 0;
    margin-bottom: 15px;
}
.view-wrap .btn-type1:has(.arrow){
    position: relative;
    padding: 10px 20px;
    padding-right: 60px;
}
.view-wrap .btn-type1 .arrow{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.view-conbox{
    padding: 80px 7%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 59px rgba(191,191,205,0.3);
}
.view-conbox .play-wrap{
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 주석 처리 되어있었음 why? */
    background-color: #efefef;
}
.view-conbox canvas.play-wrap{
    padding: 0;
}
.play-wrap:has(.flowplayer){
    padding: 0;
}
.view-conbox .play-wrap iframe,
.view-conbox .play-wrap video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.play-info{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
}
.play-info .btn-wrap{
    margin: 0;
    margin-left: 30px;
}
.btn.btn-speed{
    display: inline-block;
    margin: 2px;
    padding: 7px 10px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    font-size: 14px;
    color: #a0a0a0;
    line-height: 1;
    vertical-align: middle;
    transition: 0.3s ease;
}
.btn-speed:hover,
.btn-speed.on{
    border-color: #5570c4;
    font-weight: 500;
    color: #5570c4;
}
.lecture-tit-wrap{
    margin-bottom: 30px;
}
.lecture-tit{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.04em;
}
.lecture-tit-wrap .name{
    margin-top: 15px;
    padding: 2px 0;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-image: url('../image/sub/ic_lecture_name.png');
    font-size: 1.8rem;
    font-weight: 600;
    color: #454545;
    line-height: 1.3;
    letter-spacing: -0.06em;
}
.progress-box{
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #fdf5f1;
}
.progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    letter-spacing: -0.06em;
}
.progress strong{
    width: auto;
    flex: 0 0 auto;
    font-size: 2.2rem;
    font-weight: 600;
    color: #db4e28;
}
.progress span{
    width: auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: #193756;
}
.progress .bar{
    position: relative;
    width: 90%;
    max-width: 970px;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
}
.bar .percent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../image/sub/bg_bar.png') repeat 0 0, linear-gradient(to right, #f8a438, #db4e28);
    border-radius: 30px;
}
.progress-box p{
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #676d73;
    text-align: center;
}
.btn-wrap .btn-round img{
    margin-top: -2px;
    margin-right: 10px;
    vertical-align: middle;
}
.play-info .btn-wrap strong{
    margin-right: 10px;
    font-size: 1.6rem;
}
.btn.btn-arrow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #a0a0a0;
    font-size: 9px;
    color: #a0a0a0;
    vertical-align: middle;
    text-align: center;
    transition: 0.3s ease;
}
.btn.btn-arrow + .btn-arrow{
    margin-left: -4px;
}
.btn.btn-prev{
    border-radius: 2px 0 0 2px;
}
.btn.btn-next{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.btn.btn-arrow:hover,
.btn.btn-arrow.on{
    border-color: #5570c4;
    color: #5570c4;
}

.edu-view .view-conbox{
    position: relative;
}
.edu-view .popup-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 10px;
}
.edu-view .popup-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 800px;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.edu-view .popup-conbox{
    border: 0;
    padding: 80px 20px;
}
.edu-view .popup-conbox p{
    margin-top: 30px;
    font-size: 2.8rem;
    letter-spacing: -0.06em;
    line-height: 1.5;
    color: #2b485d;
}
.edu-view .popup-conbox .btn{
    padding: 12px 27px;
    background-color: #f6f9fb;
    border-color: #89b2d0;
    font-size: 1.7rem;
    font-weight: 500;
    color: #5a9bcb;
}

.scroll-y{
    overflow-y: auto;
    padding-right: 20px;
}
.scroll-y::-webkit-scrollbar{
    width: 12px;
    border-radius: 50px;
}
.scroll-y::-webkit-scrollbar-thumb{
    background-color: #1d90ab;
    border-radius: 50px;
}
.scroll-y::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.1);
    border-radius: 50px;
}
.quiz-list.scroll-y{
    max-height: 50vh;
}
.quiz-list > li{
    padding: 30px 25px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}
.quiz-list > li + li{
    margin-top: 25px;
}
.question{
    padding: 0 25px 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.6;
}
.question .num,
.question .num + p{
    display: inline-block;
    vertical-align: top;
}
.question .num{
    max-width: 25px;
}
.question .num + p{
    max-width: calc(100% - 35px);
}
.question .img-wrap{
    margin-top: 10px;
}
.answer .radio-wrap,
.answer .checkbox-wrap{
    gap: 0 80px;
    font-size: 1.7rem;
    color: #676d73;
}
.answer{
    padding: 0 25px;
}
.answer .radio-group input[type="radio"]:checked{
    border-color: #00a0e9;
}
.answer .radio-group input[type="radio"]:checked:before{
    background-color: #00a0e9;
}
.answer .checkbox-group input[type="checkbox"]:checked,
.answer .checkbox-group input[type="checkbox"]:checked:before{
    border-color: #00a0e9;
}
.answer textarea{
    min-height: 80px;
}
.quiz-list + .btn-wrap .btn{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.quiz-list + .btn-wrap .btn img{
    margin-right: 20px;
}

.pass-cnt{
    display: inline-block;
    padding: 9px 40px;
    background-color: #e8f4ff;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    color: #0058a8;
    text-align: center;
}
.quiz-result{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.quiz-result .table-wrap{
    width: 100%;
    border-color: #28488b;
}
.quiz-result .cst-table th,
.quiz-result .cst-table td{
    padding: 10px;
    font-size: 1.6rem;
}
.quiz-result .cst-table th{
    background-color: #f5fafc;
    color: #28488b;
}
.quiz-result-conbox .btn-wrap{
    padding-top: 50px;
    border-top: 3px solid #f3f3f3;
}
.chart-wrap{
    flex: 0 0 auto;
}
.chart{
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #bfbfbf;
}
.chart:before,
.chart .graph{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}
.graph .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.7rem;
    color: #525252;
}
.graph .text > strong{
    padding-right: 3px;
    font-weight: 600;
    color: #dd6014;
}
.result-text{
    margin-top: 15px;
    font-size: 1.6rem;
    text-align: center;
}
.result-text strong{
    background: linear-gradient(to right, #f19f24, #f3661d);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3.5rem;
    font-weight: 700;
}
.result-text.fail strong{
    background: linear-gradient(to right, #939393, #6b6b6b);
    color: transparent;
    -webkit-background-clip: text;
}
.result-text p{
    font-size: 1.5rem;
    line-height: 1.2;
    color: #373737;
}

#pop-survey .popup-contents{
    max-width: 900px;
}
#pop-survey .quiz-list > li{
    padding: 0;
    border: 0;
}
#pop-survey .quiz-list > li + li{
    margin-top: 30px;
}
#pop-survey .question{
    padding: 0;
    margin-bottom: 20px;
    border: 0;
    font-size: 2rem;
    letter-spacing: -0.07em;
}
#pop-survey .question .num{
    width: auto;
    max-width: 65px;
}
#pop-survey .question .num + p{
    width: auto;
    max-width: calc(100% - 70px);
}
#pop-survey .answer{
    padding: 0;
}
.radio-wrap.type3,
.checkbox-wrap.type3{
    gap: 10px;
}
.type3 .radio-group,
.type3 .checkbox-group{
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    font-size: 1.8rem;
    letter-spacing: -0.07em;
    transition: 0.3s ease;
}
.type3 .radio-group input,
.type3 .checkbox-group input{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
.type3 .radio-group:has(input:checked),
.type3 .checkbox-group:has(input:checked){
    border-color: #1e72c7;
    background-color: #f6faff;
    color: #1e72c7;
    font-weight: 600;
}

#pop-survey:has(.complete-conbox) .popup-contents{
    padding-top: 70px;
    padding-bottom: 70px;
}
#pop-survey:has(.complete-conbox) .popup-conbox{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}
.complete-conbox .tit{
    display: block;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.06em;
}
.complete-conbox .tit strong{
    font-weight: 600;
    color: #1e72c7;
}
.complete-conbox + .btn-wrap{
    margin-top: 70px;
}
.complete-conbox p{
    margin-top: 70px;
}
.complete-conbox p > .btn{
    margin: 0 20px;
    vertical-align: middle;
}
.complete-conbox .btn img{
    margin-top: -3px;
    margin-right: 10px;
    vertical-align: middle;
}

/* 마이페이지::개인정보 */
.mypage-info-conbox > .btn-wrap{
    margin-top: 0;
    margin-bottom: 20px;
}
.mypage-info-conbox .form-tit,
.mypage-info-conbox .form-con{
    font-size: 1.6rem;
}
.btn.btn-link{
    padding: 15px 18px;
    border-color: #1e72c7;
    color: #1e72c7;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn.btn-link img{
    margin-top: -3px;
    margin-right: 10px;
    vertical-align: middle;
}
.btn.btn-cancel{
    background-color: #868f98;
    border-color: #868f98;
    color: #fff;
}
.btn.btn-receipt{
    background-color: #7bb016;
    border-color: #7bb016;
    color: #fff;
}
.btn.btn-pay-info{
    background-color: #18a1a3;
    border-color: #18a1a3;
    color: #fff;
}
.board-list.lecture .btn-small{
    margin: 2px 1px;
}
.btn.btn-print{
    background-color: #0d918d;
    border-color: #0d918d;
    color: #fff;
}

/* 퀴즈 등록, 퀴즈 통계 popup */
#pop-statistics .quiz-list > li{
    padding: 0;
    border: 0;
}
#pop-statistics .question,
#pop-statistics .answer{
    padding-left: 0;
    padding-right: 0;
}
.statistics-list .tit{
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 500;
}
.statistics-list .bar{
    background-color: #fdf5f1;
}
.statistics-list > li + li{
    margin-top: 20px;
}
.statistics-list > li.active .tit{
    color: #db4e28;
}

.popup-conbox .view-conbox{
    padding: 0;
}
.popup-conbox:has(.view-wrap){
    padding: 0;
}